.statistic-bar-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
.statistic-bar {
    border-radius: 5px;
    background-color: var(--soft-red);
    width: 50px;

    }
    .statistic-number {
        display: none;
    }
    &:hover {
        .statistic-number {
            display: revert;
        }
    }
}
#isFirst {
    background-color: hsl(186, 34%, 60%);
}

@media (max-width: 500px ) {
    .statistic-bar {
        width: 30px !important;
    
        }
}